# .github/workflows/docker-build.yml
name: Docker publish 


on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      image-tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    name: Docker build and push

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: service-build
          path: app.jar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_ACCOUNT_NAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_ACCOUNT_NAME }}/${{ inputs.image-name }}:${{ inputs.image-tag }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ inputs.image-name }}:${{ inputs.image-tag }} .
          
    