# .github/workflows/node-build.yml
name: Entry node CI/CD workflow


on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
    secrets:
      TERRAFORM_REPO_TOKEN:
        required: true
      ARM_CLIENT_ID:
        required: true
      ARM_CLIENT_SECRET:
        required: true
      ARM_TENANT_ID:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true


jobs:
  build:
    uses: ./.github/workflows/node-build.yml
    with:
      node-version: ${{ inputs.node-version }}

  azure-terraform:
    uses: ./.github/workflows/az-arquitecture.yml
    with:
      node-version: ${{ inputs.node-version }}
    secrets:
      TERRAFORM_REPO_TOKEN: ${{ secrets.TERRAFORM_REPO_TOKEN }}
      ARM_CLIENT_ID : ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET : ${{ secrets.ARM_CLIENT_SECRET }}  
      ARM_TENANT_ID : ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID : ${{ secrets.ARM_SUBSCRIPTION_ID }}