# .github/workflows/node-build.yml
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  node:
    uses: ./.github/workflows/node-build.yml
    with:
      node-version: ${{ inputs.node-version }}

  azure-terraform:
    name: Azure
    uses: ./.github/workflows/azure-arquitecture.yml
    secrets: inherit

  azure-deploy:
    name: Azure
    uses: ./.github/workflows/azure-web-app.yml
    needs: [azure-terraform, build]
