# .github/workflows/node-build.yml
name: Build node project

permissions:
  contents: read  # necesario para acceder a repos privados
  id-token: write

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      config-path:
        required: true
        type: string
    secrets:
      personal_access_token: ${{ secrets.TERRAFORM_REPO_TOKEN }}

jobs:
  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm i

      - name: Build Project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: dist
          retention-days: 1
          