# .github/workflows/node-build.yml
name: Entry node CI/CD workflow

permissions:
  contents: read  

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      environment:
        required: true
        type: string


jobs:
  build:
    uses: ./.github/workflows/node-build.yml
    with:
      node-version: ${{ inputs.node-version }}

  azure-terraform:
    uses: ./.github/workflows/az-arquitecture.yml
    with:
      environment: ${{ inputs.environment }}
