# .github/workflows/springboot-build.yml
name: Build Spring Boot project

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: '17'

jobs:
  springboot:
    runs-on: ubuntu-latest
    name: Spring Boot
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests -Djar.name=app

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: service-build
          path: target/*.jar
          retention-days: 1
          