# .github/workflows/spring-init.yml
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string

jobs:
  springboot:
    uses: ./.github/workflows/spring-build.yml
    with:
      java-version: ${{ inputs.java-version }}

  docker:
    needs: springboot
    uses: ./.github/workflows/docker-build.yml
    with:
      image-name: ${{ github.event.repository.name }}
      image-tag: ${{ github.ref_name }}
    secrets: inherit

  azure:
    needs: docker
    uses: ./.github/workflows/azure-arquitecture.yml
    secrets: inherit

